sample/WADL/application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:prefix1="http://schemas.nav.gov.hu/OSA/3.0/api" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <grammars>
      <xs:schema xmlns:tns="http://schemas.nav.gov.hu/NTCA/1.0/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.nav.gov.hu/NTCA/1.0/common">
         <xs:element name="GeneralErrorHeaderResponse">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:GeneralErrorHeaderResponseType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="GeneralExceptionResponse">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:BasicResultType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="BasicResponseType">
            <xs:sequence>
               <xs:element name="header" type="tns:BasicHeaderType" />
               <xs:element name="result" type="tns:BasicResultType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="TechnicalValidationResultType">
            <xs:sequence>
               <xs:element name="validationResultCode" type="xs:string" />
               <xs:element minOccurs="0" name="validationErrorCode" type="xs:string" />
               <xs:element minOccurs="0" name="message" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="BasicHeaderType">
            <xs:sequence>
               <xs:element name="requestId" type="xs:string" />
               <xs:element name="timestamp" type="xs:dateTime" />
               <xs:element name="requestVersion" type="xs:string" />
               <xs:element minOccurs="0" name="headerVersion" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="BasicResultType">
            <xs:sequence>
               <xs:element name="funcCode" type="xs:string" />
               <xs:element minOccurs="0" name="errorCode" type="xs:string" />
               <xs:element minOccurs="0" name="message" type="xs:string" />
               <xs:element minOccurs="0" name="notifications" type="tns:NotificationsType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="NotificationsType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="notification" type="tns:NotificationType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="NotificationType">
            <xs:sequence>
               <xs:element name="notificationCode" type="xs:string" />
               <xs:element name="notificationText" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="GeneralErrorHeaderResponseType">
            <xs:complexContent>
               <xs:extension base="tns:BasicResponseType">
                  <xs:sequence />
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="CryptoType">
            <xs:simpleContent>
               <xs:extension base="xs:string">
                  <xs:attribute name="cryptoType" type="xs:string" use="required" />
               </xs:extension>
            </xs:simpleContent>
         </xs:complexType>
         <xs:complexType name="BasicRequestType">
            <xs:sequence>
               <xs:element name="header" type="tns:BasicHeaderType" />
               <xs:element name="user" type="tns:UserHeaderType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="UserHeaderType">
            <xs:sequence>
               <xs:element name="login" type="xs:string" />
               <xs:element name="passwordHash" type="tns:CryptoType" />
               <xs:element name="taxNumber" type="xs:string" />
               <xs:element name="requestSignature" type="tns:CryptoType" />
            </xs:sequence>
         </xs:complexType>
         <xs:simpleType name="TechnicalResultCodeType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="CRITICAL" />
               <xs:enumeration value="ERROR" />
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="BusinessResultCodeType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="ERROR" />
               <xs:enumeration value="WARN" />
               <xs:enumeration value="INFO" />
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="FunctionCodeType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="OK" />
               <xs:enumeration value="ERROR" />
            </xs:restriction>
         </xs:simpleType>
      </xs:schema>
      <xs:schema xmlns:ns1="http://schemas.nav.gov.hu/NTCA/1.0/common" xmlns:ns2="http://schemas.nav.gov.hu/OSA/3.0/base" xmlns:tns="http://schemas.nav.gov.hu/OSA/3.0/api" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.nav.gov.hu/OSA/3.0/api">
         <xs:import namespace="http://schemas.nav.gov.hu/NTCA/1.0/common" />
         <xs:import namespace="http://schemas.nav.gov.hu/OSA/3.0/base" />
         <xs:element name="GeneralErrorResponse">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:GeneralErrorResponseType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="ManageAnnulmentRequest">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:ManageAnnulmentRequestType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="ManageAnnulmentResponse">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:TransactionResponseType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="ManageInvoiceRequest">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:ManageInvoiceRequestType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="ManageInvoiceResponse">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:TransactionResponseType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="QueryInvoiceChainDigestRequest">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:QueryInvoiceChainDigestRequestType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="QueryInvoiceChainDigestResponse">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:QueryInvoiceChainDigestResponseType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="QueryInvoiceCheckRequest">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:QueryInvoiceDataRequestType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="QueryInvoiceCheckResponse">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:QueryInvoiceCheckResponseType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="QueryInvoiceDataRequest">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:QueryInvoiceDataRequestType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="QueryInvoiceDataResponse">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:QueryInvoiceDataResponseType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="QueryInvoiceDigestRequest">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:QueryInvoiceDigestRequestType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="QueryInvoiceDigestResponse">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:QueryInvoiceDigestResponseType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="QueryTaxpayerRequest">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:QueryTaxpayerRequestType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="QueryTaxpayerResponse">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:QueryTaxpayerResponseType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="QueryTransactionListRequest">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:QueryTransactionListRequestType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="QueryTransactionListResponse">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:QueryTransactionListResponseType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="QueryTransactionStatusRequest">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:QueryTransactionStatusRequestType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="QueryTransactionStatusResponse">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:QueryTransactionStatusResponseType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="TokenExchangeRequest">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:BasicOnlineInvoiceRequestType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="TokenExchangeResponse">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="tns:TokenExchangeResponseType">
                     <xs:sequence />
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="QueryTransactionStatusResponseType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceResponseType">
                  <xs:sequence>
                     <xs:element minOccurs="0" name="processingResults" type="tns:ProcessingResultListType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="BasicOnlineInvoiceResponseType">
            <xs:complexContent>
               <xs:extension base="ns1:BasicResponseType">
                  <xs:sequence>
                     <xs:element name="software" type="tns:SoftwareType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="ProcessingResultListType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="processingResult" type="tns:ProcessingResultType" />
               <xs:element name="originalRequestVersion" type="xs:string" />
               <xs:element minOccurs="0" name="annulmentData" type="tns:AnnulmentDataType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ProcessingResultType">
            <xs:sequence>
               <xs:element name="index" type="xs:int" />
               <xs:element minOccurs="0" name="batchIndex" type="xs:int" />
               <xs:element name="invoiceStatus" type="xs:string" />
               <xs:element maxOccurs="unbounded" minOccurs="0" name="technicalValidationMessages" nillable="true" type="ns1:TechnicalValidationResultType" />
               <xs:element maxOccurs="unbounded" minOccurs="0" name="businessValidationMessages" nillable="true" type="tns:BusinessValidationResultType" />
               <xs:element name="compressedContentIndicator" type="xs:boolean" />
               <xs:element minOccurs="0" name="originalRequest" type="xs:base64Binary" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="BusinessValidationResultType">
            <xs:sequence>
               <xs:element name="validationResultCode" type="xs:string" />
               <xs:element minOccurs="0" name="validationErrorCode" type="xs:string" />
               <xs:element minOccurs="0" name="message" type="xs:string" />
               <xs:element minOccurs="0" name="pointer" type="tns:PointerType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="PointerType">
            <xs:sequence>
               <xs:element minOccurs="0" name="tag" type="xs:string" />
               <xs:element minOccurs="0" name="value" type="xs:string" />
               <xs:element minOccurs="0" name="line" type="xs:nonNegativeInteger" />
               <xs:element minOccurs="0" name="originalInvoiceNumber" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="AnnulmentDataType">
            <xs:sequence>
               <xs:element name="annulmentVerificationStatus" type="xs:string" />
               <xs:element minOccurs="0" name="annulmentDecisionDate" type="xs:dateTime" />
               <xs:element minOccurs="0" name="annulmentDecisionUser" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="SoftwareType">
            <xs:sequence>
               <xs:element name="softwareId" type="xs:string" />
               <xs:element name="softwareName" type="xs:string" />
               <xs:element name="softwareOperation" type="xs:string" />
               <xs:element name="softwareMainVersion" type="xs:string" />
               <xs:element name="softwareDevName" type="xs:string" />
               <xs:element name="softwareDevContact" type="xs:string" />
               <xs:element minOccurs="0" name="softwareDevCountryCode" type="xs:string" />
               <xs:element minOccurs="0" name="softwareDevTaxNumber" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="GeneralErrorResponseType">
            <xs:complexContent>
               <xs:extension base="ns1:GeneralErrorHeaderResponseType">
                  <xs:sequence>
                     <xs:element name="software" type="tns:SoftwareType" />
                     <xs:element maxOccurs="unbounded" minOccurs="0" name="technicalValidationMessages" nillable="true" type="ns1:TechnicalValidationResultType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="TokenExchangeResponseType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceResponseType">
                  <xs:sequence>
                     <xs:element name="encodedExchangeToken" type="xs:base64Binary" />
                     <xs:element name="tokenValidityFrom" type="xs:dateTime" />
                     <xs:element name="tokenValidityTo" type="xs:dateTime" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="QueryTransactionListResponseType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceResponseType">
                  <xs:sequence>
                     <xs:element name="transactionListResult" type="tns:TransactionListResultType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="TransactionListResultType">
            <xs:sequence>
               <xs:element name="currentPage" type="xs:int" />
               <xs:element name="availablePage" type="xs:int" />
               <xs:element maxOccurs="unbounded" minOccurs="0" name="transaction" nillable="true" type="tns:TransactionType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="TransactionType">
            <xs:sequence>
               <xs:element name="insDate" type="xs:dateTime" />
               <xs:element name="insCusUser" type="xs:string" />
               <xs:element name="source" type="xs:string" />
               <xs:element name="transactionId" type="xs:string" />
               <xs:element name="requestStatus" type="xs:string" />
               <xs:element name="technicalAnnulment" type="xs:boolean" />
               <xs:element name="originalRequestVersion" type="xs:string" />
               <xs:element name="itemCount" type="xs:int" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="QueryTaxpayerResponseType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceResponseType">
                  <xs:sequence>
                     <xs:element minOccurs="0" name="infoDate" type="xs:dateTime" />
                     <xs:element minOccurs="0" name="taxpayerValidity" type="xs:boolean" />
                     <xs:element minOccurs="0" name="taxpayerData" type="tns:TaxpayerDataType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="TaxpayerDataType">
            <xs:sequence>
               <xs:element name="taxpayerName" type="xs:string" />
               <xs:element minOccurs="0" name="taxpayerShortName" type="xs:string" />
               <xs:element name="taxNumberDetail" type="ns2:TaxNumberType" />
               <xs:element name="incorporation" type="xs:string" />
               <xs:element minOccurs="0" name="vatGroupMembership" type="xs:string" />
               <xs:element minOccurs="0" name="taxpayerAddressList" type="tns:TaxpayerAddressListType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="TaxpayerAddressListType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="taxpayerAddressItem" type="tns:TaxpayerAddressItemType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="TaxpayerAddressItemType">
            <xs:sequence>
               <xs:element name="taxpayerAddressType" type="xs:string" />
               <xs:element name="taxpayerAddress" type="ns2:DetailedAddressType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="QueryInvoiceDigestResponseType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceResponseType">
                  <xs:sequence>
                     <xs:element name="invoiceDigestResult" type="tns:InvoiceDigestResultType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="InvoiceDigestResultType">
            <xs:sequence>
               <xs:element name="currentPage" type="xs:int" />
               <xs:element name="availablePage" type="xs:int" />
               <xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceDigest" nillable="true" type="tns:InvoiceDigestType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="InvoiceDigestType">
            <xs:sequence>
               <xs:element name="invoiceNumber" type="xs:string" />
               <xs:element minOccurs="0" name="batchIndex" type="xs:int" />
               <xs:element name="invoiceOperation" type="xs:string" />
               <xs:element name="invoiceCategory" type="xs:string" />
               <xs:element name="invoiceIssueDate" type="xs:date" />
               <xs:element name="supplierTaxNumber" type="xs:string" />
               <xs:element minOccurs="0" name="supplierGroupMemberTaxNumber" type="xs:string" />
               <xs:element name="supplierName" type="xs:string" />
               <xs:element minOccurs="0" name="customerTaxNumber" type="xs:string" />
               <xs:element minOccurs="0" name="customerGroupMemberTaxNumber" type="xs:string" />
               <xs:element minOccurs="0" name="customerName" type="xs:string" />
               <xs:element minOccurs="0" name="paymentMethod" type="xs:string" />
               <xs:element minOccurs="0" name="paymentDate" type="xs:date" />
               <xs:element minOccurs="0" name="invoiceAppearance" type="xs:string" />
               <xs:element minOccurs="0" name="source" type="xs:string" />
               <xs:element minOccurs="0" name="invoiceDeliveryDate" type="xs:date" />
               <xs:element minOccurs="0" name="currency" type="xs:string" />
               <xs:element minOccurs="0" name="invoiceNetAmount" type="xs:decimal" />
               <xs:element minOccurs="0" name="invoiceNetAmountHUF" type="xs:decimal" />
               <xs:element minOccurs="0" name="invoiceVatAmount" type="xs:decimal" />
               <xs:element minOccurs="0" name="invoiceVatAmountHUF" type="xs:decimal" />
               <xs:element minOccurs="0" name="transactionId" type="xs:string" />
               <xs:element minOccurs="0" name="index" type="xs:int" />
               <xs:element minOccurs="0" name="originalInvoiceNumber" type="xs:string" />
               <xs:element minOccurs="0" name="modificationIndex" type="xs:int" />
               <xs:element name="insDate" type="xs:dateTime" />
               <xs:element minOccurs="0" name="completenessIndicator" type="xs:boolean" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="QueryInvoiceDataResponseType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceResponseType">
                  <xs:sequence>
                     <xs:element minOccurs="0" name="invoiceDataResult" type="tns:InvoiceDataResultType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="InvoiceDataResultType">
            <xs:sequence>
               <xs:element name="invoiceData" type="xs:base64Binary" />
               <xs:element name="auditData" type="tns:AuditDataType" />
               <xs:element name="compressedContentIndicator" type="xs:boolean" />
               <xs:element minOccurs="0" name="electronicInvoiceHash" type="ns1:CryptoType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="AuditDataType">
            <xs:sequence>
               <xs:element name="insdate" type="xs:dateTime" />
               <xs:element name="insCusUser" type="xs:string" />
               <xs:element name="source" type="xs:string" />
               <xs:element minOccurs="0" name="transactionId" type="xs:string" />
               <xs:element minOccurs="0" name="index" type="xs:int" />
               <xs:element minOccurs="0" name="batchIndex" type="xs:int" />
               <xs:element name="originalRequestVersion" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="QueryInvoiceCheckResponseType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceResponseType">
                  <xs:sequence>
                     <xs:element name="invoiceCheckResult" type="xs:boolean" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="QueryInvoiceChainDigestResponseType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceResponseType">
                  <xs:sequence>
                     <xs:element name="invoiceChainDigestResult" type="tns:InvoiceChainDigestResultType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="InvoiceChainDigestResultType">
            <xs:sequence>
               <xs:element name="currentPage" type="xs:int" />
               <xs:element name="availablePage" type="xs:int" />
               <xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceChainElement" nillable="true" type="tns:InvoiceChainElementType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="InvoiceChainElementType">
            <xs:sequence>
               <xs:element name="invoiceChainDigest" type="tns:InvoiceChainDigestType" />
               <xs:element minOccurs="0" name="invoiceLines" type="tns:InvoiceLinesType" />
               <xs:element minOccurs="0" name="invoiceReferenceData" type="tns:InvoiceReferenceDataType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="InvoiceChainDigestType">
            <xs:sequence>
               <xs:element name="invoiceNumber" type="xs:string" />
               <xs:element minOccurs="0" name="batchIndex" type="xs:int" />
               <xs:element name="invoiceOperation" type="xs:string" />
               <xs:element name="supplierTaxNumber" type="xs:string" />
               <xs:element minOccurs="0" name="customerTaxNumber" type="xs:string" />
               <xs:element name="insDate" type="xs:dateTime" />
               <xs:element name="originalRequestVersion" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="InvoiceLinesType">
            <xs:sequence>
               <xs:element name="maxLineNumber" type="xs:nonNegativeInteger" />
               <xs:element maxOccurs="unbounded" minOccurs="0" name="newCreatedLines" nillable="true" type="tns:NewCreatedLinesType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="NewCreatedLinesType">
            <xs:sequence>
               <xs:element name="lineNumberIntervalStart" type="xs:nonNegativeInteger" />
               <xs:element name="lineNumberIntervalEnd" type="xs:nonNegativeInteger" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="InvoiceReferenceDataType">
            <xs:sequence>
               <xs:element name="originalInvoiceNumber" type="xs:string" />
               <xs:element name="modifyWithoutMaster" type="xs:boolean" />
               <xs:element minOccurs="0" name="modificationTimestamp" type="xs:dateTime" />
               <xs:element minOccurs="0" name="modificationIndex" type="xs:int" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="TransactionResponseType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceResponseType">
                  <xs:sequence>
                     <xs:element name="transactionId" type="xs:string" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="QueryInvoiceDataRequestType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceRequestType">
                  <xs:sequence>
                     <xs:element name="invoiceNumberQuery" type="tns:InvoiceNumberQueryType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="BasicOnlineInvoiceRequestType">
            <xs:complexContent>
               <xs:extension base="ns1:BasicRequestType">
                  <xs:sequence>
                     <xs:element name="software" type="tns:SoftwareType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="InvoiceNumberQueryType">
            <xs:sequence>
               <xs:element name="invoiceNumber" type="xs:string" />
               <xs:element name="invoiceDirection" type="xs:string" />
               <xs:element minOccurs="0" name="batchIndex" type="xs:int" />
               <xs:element minOccurs="0" name="supplierTaxNumber" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="QueryTransactionStatusRequestType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceRequestType">
                  <xs:sequence>
                     <xs:element name="transactionId" type="xs:string" />
                     <xs:element minOccurs="0" name="returnOriginalRequest" type="xs:boolean" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="QueryTransactionListRequestType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceRequestType">
                  <xs:sequence>
                     <xs:element name="page" type="xs:int" />
                     <xs:element name="insDate" type="tns:DateTimeIntervalParamType" />
                     <xs:element minOccurs="0" name="requestStatus" type="xs:string" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="DateTimeIntervalParamType">
            <xs:sequence>
               <xs:element name="dateTimeFrom" type="xs:dateTime" />
               <xs:element name="dateTimeTo" type="xs:dateTime" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="QueryTaxpayerRequestType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceRequestType">
                  <xs:sequence>
                     <xs:element name="taxNumber" type="xs:string" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="QueryInvoiceDigestRequestType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceRequestType">
                  <xs:sequence>
                     <xs:element name="page" type="xs:int" />
                     <xs:element name="invoiceDirection" type="xs:string" />
                     <xs:element name="invoiceQueryParams" type="tns:InvoiceQueryParamsType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="InvoiceQueryParamsType">
            <xs:sequence>
               <xs:element name="mandatoryQueryParams" type="tns:MandatoryQueryParamsType" />
               <xs:element minOccurs="0" name="additionalQueryParams" type="tns:AdditionalQueryParamsType" />
               <xs:element minOccurs="0" name="relationalQueryParams" type="tns:RelationalQueryParamsType" />
               <xs:element minOccurs="0" name="transactionQueryParams" type="tns:TransactionQueryParamsType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="MandatoryQueryParamsType">
            <xs:sequence>
               <xs:element minOccurs="0" name="invoiceIssueDate" type="tns:DateIntervalParamType" />
               <xs:element minOccurs="0" name="insDate" type="tns:DateTimeIntervalParamType" />
               <xs:element minOccurs="0" name="originalInvoiceNumber" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="DateIntervalParamType">
            <xs:sequence>
               <xs:element name="dateFrom" type="xs:date" />
               <xs:element name="dateTo" type="xs:date" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="AdditionalQueryParamsType">
            <xs:sequence>
               <xs:element minOccurs="0" name="taxNumber" type="xs:string" />
               <xs:element minOccurs="0" name="groupMemberTaxNumber" type="xs:string" />
               <xs:element minOccurs="0" name="name" type="xs:string" />
               <xs:element minOccurs="0" name="invoiceCategory" type="xs:string" />
               <xs:element minOccurs="0" name="paymentMethod" type="xs:string" />
               <xs:element minOccurs="0" name="invoiceAppearance" type="xs:string" />
               <xs:element minOccurs="0" name="source" type="xs:string" />
               <xs:element minOccurs="0" name="currency" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="RelationalQueryParamsType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceDelivery" nillable="true" type="tns:RelationQueryDateType" />
               <xs:element maxOccurs="unbounded" minOccurs="0" name="paymentDate" nillable="true" type="tns:RelationQueryDateType" />
               <xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceNetAmount" nillable="true" type="tns:RelationQueryMonetaryType" />
               <xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceNetAmountHUF" nillable="true" type="tns:RelationQueryMonetaryType" />
               <xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceVatAmount" nillable="true" type="tns:RelationQueryMonetaryType" />
               <xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceVatAmountHUF" nillable="true" type="tns:RelationQueryMonetaryType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="RelationQueryDateType">
            <xs:sequence>
               <xs:element name="queryOperator" type="xs:string" />
               <xs:element name="queryValue" type="xs:date" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="RelationQueryMonetaryType">
            <xs:sequence>
               <xs:element name="queryOperator" type="xs:string" />
               <xs:element name="queryValue" type="xs:decimal" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="TransactionQueryParamsType">
            <xs:sequence>
               <xs:element name="transactionId" type="xs:string" />
               <xs:element minOccurs="0" name="index" type="xs:int" />
               <xs:element minOccurs="0" name="invoiceOperation" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="QueryInvoiceChainDigestRequestType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceRequestType">
                  <xs:sequence>
                     <xs:element name="page" type="xs:int" />
                     <xs:element name="invoiceChainQuery" type="tns:InvoiceChainQueryType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="InvoiceChainQueryType">
            <xs:sequence>
               <xs:element name="invoiceNumber" type="xs:string" />
               <xs:element name="invoiceDirection" type="xs:string" />
               <xs:element minOccurs="0" name="taxNumber" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ManageInvoiceRequestType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceRequestType">
                  <xs:sequence>
                     <xs:element name="exchangeToken" type="xs:string" />
                     <xs:element name="invoiceOperations" type="tns:InvoiceOperationListType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="InvoiceOperationListType">
            <xs:sequence>
               <xs:element name="compressedContent" type="xs:boolean" />
               <xs:element maxOccurs="unbounded" name="invoiceOperation" type="tns:InvoiceOperationType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="InvoiceOperationType">
            <xs:sequence>
               <xs:element name="index" type="xs:int" />
               <xs:element name="invoiceOperation" type="xs:string" />
               <xs:element name="invoiceData" type="xs:base64Binary" />
               <xs:element minOccurs="0" name="electronicInvoiceHash" type="ns1:CryptoType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ManageAnnulmentRequestType">
            <xs:complexContent>
               <xs:extension base="tns:BasicOnlineInvoiceRequestType">
                  <xs:sequence>
                     <xs:element name="exchangeToken" type="xs:string" />
                     <xs:element name="annulmentOperations" type="tns:AnnulmentOperationListType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="AnnulmentOperationListType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="annulmentOperation" type="tns:AnnulmentOperationType" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="AnnulmentOperationType">
            <xs:sequence>
               <xs:element name="index" type="xs:int" />
               <xs:element name="annulmentOperation" type="xs:string" />
               <xs:element name="invoiceAnnulment" type="xs:base64Binary" />
            </xs:sequence>
         </xs:complexType>
         <xs:simpleType name="InvoiceStatusType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="RECEIVED" />
               <xs:enumeration value="PROCESSING" />
               <xs:enumeration value="SAVED" />
               <xs:enumeration value="DONE" />
               <xs:enumeration value="ABORTED" />
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="AnnulmentVerificationStatusType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="NOT_VERIFIABLE" />
               <xs:enumeration value="VERIFICATION_PENDING" />
               <xs:enumeration value="VERIFICATION_DONE" />
               <xs:enumeration value="VERIFICATION_REJECTED" />
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="SoftwareOperationType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="LOCAL_SOFTWARE" />
               <xs:enumeration value="ONLINE_SERVICE" />
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="SourceType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="WEB" />
               <xs:enumeration value="XML" />
               <xs:enumeration value="MGM" />
               <xs:enumeration value="OPG" />
               <xs:enumeration value="OSZ" />
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="RequestStatusType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="RECEIVED" />
               <xs:enumeration value="PROCESSING" />
               <xs:enumeration value="SAVED" />
               <xs:enumeration value="FINISHED" />
               <xs:enumeration value="NOTIFIED" />
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="IncorporationType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="ORGANIZATION" />
               <xs:enumeration value="SELF_EMPLOYED" />
			   <xs:enumeration value="TAXABLE_PERSON" />
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="TaxpayerAddressTypeType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="HQ" />
               <xs:enumeration value="SITE" />
               <xs:enumeration value="BRANCH" />
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="ManageInvoiceOperationType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="CREATE" />
               <xs:enumeration value="MODIFY" />
               <xs:enumeration value="STORNO" />
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="InvoiceDirectionType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="INBOUND" />
               <xs:enumeration value="OUTBOUND" />
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="QueryOperatorType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="EQ" />
               <xs:enumeration value="GT" />
               <xs:enumeration value="GTE" />
               <xs:enumeration value="LT" />
               <xs:enumeration value="LTE" />
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="ManageAnnulmentOperationType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="ANNUL" />
            </xs:restriction>
         </xs:simpleType>
      </xs:schema>
      <xs:schema xmlns="http://schemas.nav.gov.hu/OSA/3.0/data" xmlns:ns1="http://schemas.nav.gov.hu/OSA/3.0/base" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.nav.gov.hu/OSA/3.0/data">
         <xs:import namespace="http://schemas.nav.gov.hu/OSA/3.0/base" />
         <xs:complexType name="CustomerTaxNumberType">
            <xs:complexContent>
               <xs:extension base="ns1:TaxNumberType">
                  <xs:sequence>
                     <xs:element minOccurs="0" name="groupMemberTaxNumber" type="ns1:TaxNumberType" />
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns="http://schemas.nav.gov.hu/OSA/3.0/base" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.nav.gov.hu/OSA/3.0/base">
         <xs:complexType name="TaxNumberType">
            <xs:sequence>
               <xs:element name="taxpayerId" type="xs:string" />
               <xs:element minOccurs="0" name="vatCode" type="xs:string" />
               <xs:element minOccurs="0" name="countyCode" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="DetailedAddressType">
            <xs:sequence>
               <xs:element name="countryCode" type="xs:string" />
               <xs:element minOccurs="0" name="region" type="xs:string" />
               <xs:element name="postalCode" type="xs:string" />
               <xs:element name="city" type="xs:string" />
               <xs:element name="streetName" type="xs:string" />
               <xs:element name="publicPlaceCategory" type="xs:string" />
               <xs:element minOccurs="0" name="number" type="xs:string" />
               <xs:element minOccurs="0" name="building" type="xs:string" />
               <xs:element minOccurs="0" name="staircase" type="xs:string" />
               <xs:element minOccurs="0" name="floor" type="xs:string" />
               <xs:element minOccurs="0" name="door" type="xs:string" />
               <xs:element minOccurs="0" name="lotNumber" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:simpleType name="InvoiceCategoryType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="NORMAL" />
               <xs:enumeration value="SIMPLIFIED" />
               <xs:enumeration value="AGGREGATE" />
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="PaymentMethodType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="TRANSFER" />
               <xs:enumeration value="CASH" />
               <xs:enumeration value="CARD" />
               <xs:enumeration value="VOUCHER" />
               <xs:enumeration value="OTHER" />
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="InvoiceAppearanceType">
            <xs:restriction base="xs:string">
               <xs:enumeration value="PAPER" />
               <xs:enumeration value="ELECTRONIC" />
               <xs:enumeration value="EDI" />
               <xs:enumeration value="UNKNOWN" />
            </xs:restriction>
         </xs:simpleType>
      </xs:schema>
   </grammars>
   <resources base="/">
      <resource path="https://api-test.onlineszamla.nav.gov.hu/invoiceService/v3">
         <resource path="/manageAnnulment">
            <method name="POST">
               <request>
                  <representation mediaType="text/xml" element="prefix1:ManageAnnulmentRequest" />
                  <representation mediaType="application/xml" element="prefix1:ManageAnnulmentRequest" />
               </request>
               <response>
                  <representation mediaType="text/xml" element="prefix1:ManageAnnulmentResponse" />
                  <representation mediaType="application/xml" element="prefix1:ManageAnnulmentResponse" />
               </response>
            </method>
         </resource>
         <resource path="/queryInvoiceChainDigest">
            <method name="POST">
               <request>
                  <representation mediaType="text/xml" element="prefix1:QueryInvoiceChainDigestRequest" />
                  <representation mediaType="application/xml" element="prefix1:QueryInvoiceChainDigestRequest" />
               </request>
               <response>
                  <representation mediaType="text/xml" element="prefix1:QueryInvoiceChainDigestResponse" />
                  <representation mediaType="application/xml" element="prefix1:QueryInvoiceChainDigestResponse" />
               </response>
            </method>
         </resource>
         <resource path="/queryInvoiceCheck">
            <method name="POST">
               <request>
                  <representation mediaType="text/xml" element="prefix1:QueryInvoiceCheckRequest" />
                  <representation mediaType="application/xml" element="prefix1:QueryInvoiceCheckRequest" />
               </request>
               <response>
                  <representation mediaType="text/xml" element="prefix1:QueryInvoiceCheckResponse" />
                  <representation mediaType="application/xml" element="prefix1:QueryInvoiceCheckResponse" />
               </response>
            </method>
         </resource>
         <resource path="/queryInvoiceDigest">
            <method name="POST">
               <request>
                  <representation mediaType="text/xml" element="prefix1:QueryInvoiceDigestRequest" />
                  <representation mediaType="application/xml" element="prefix1:QueryInvoiceDigestRequest" />
               </request>
               <response>
                  <representation mediaType="text/xml" element="prefix1:QueryInvoiceDigestResponse" />
                  <representation mediaType="application/xml" element="prefix1:QueryInvoiceDigestResponse" />
               </response>
            </method>
         </resource>
         <resource path="/manageInvoice">
            <method name="POST">
               <request>
                  <representation mediaType="text/xml" element="prefix1:ManageInvoiceRequest" />
                  <representation mediaType="application/xml" element="prefix1:ManageInvoiceRequest" />
               </request>
               <response>
                  <representation mediaType="text/xml" element="prefix1:ManageInvoiceResponse" />
                  <representation mediaType="application/xml" element="prefix1:ManageInvoiceResponse" />
               </response>
            </method>
         </resource>
         <resource path="/queryInvoiceData">
            <method name="POST">
               <request>
                  <representation mediaType="text/xml" element="prefix1:QueryInvoiceDataRequest" />
                  <representation mediaType="application/xml" element="prefix1:QueryInvoiceDataRequest" />
               </request>
               <response>
                  <representation mediaType="text/xml" element="prefix1:QueryInvoiceDataResponse" />
                  <representation mediaType="application/xml" element="prefix1:QueryInvoiceDataResponse" />
               </response>
            </method>
         </resource>
         <resource path="/queryTransactionStatus">
            <method name="POST">
               <request>
                  <representation mediaType="text/xml" element="prefix1:QueryTransactionStatusRequest" />
                  <representation mediaType="application/xml" element="prefix1:QueryTransactionStatusRequest" />
               </request>
               <response>
                  <representation mediaType="text/xml" element="prefix1:QueryTransactionStatusResponse" />
                  <representation mediaType="application/xml" element="prefix1:QueryTransactionStatusResponse" />
               </response>
            </method>
         </resource>
         <resource path="/queryTaxpayer">
            <method name="POST">
               <request>
                  <representation mediaType="text/xml" element="prefix1:QueryTaxpayerRequest" />
                  <representation mediaType="application/xml" element="prefix1:QueryTaxpayerRequest" />
               </request>
               <response>
                  <representation mediaType="text/xml" element="prefix1:QueryTaxpayerResponse" />
                  <representation mediaType="application/xml" element="prefix1:QueryTaxpayerResponse" />
               </response>
            </method>
         </resource>
         <resource path="/tokenExchange">
            <method name="POST">
               <request>
                  <representation mediaType="text/xml" element="prefix1:TokenExchangeRequest" />
                  <representation mediaType="application/xml" element="prefix1:TokenExchangeRequest" />
               </request>
               <response>
                  <representation mediaType="text/xml" element="prefix1:TokenExchangeResponse" />
                  <representation mediaType="application/xml" element="prefix1:TokenExchangeResponse" />
               </response>
            </method>
         </resource>
         <resource path="/queryTransactionList">
            <method name="POST">
               <request>
                  <representation mediaType="text/xml" element="prefix1:QueryTransactionListRequest" />
                  <representation mediaType="application/xml" element="prefix1:QueryTransactionListRequest" />
               </request>
               <response>
                  <representation mediaType="text/xml" element="prefix1:QueryTransactionListResponse" />
                  <representation mediaType="application/xml" element="prefix1:QueryTransactionListResponse" />
               </response>
            </method>
         </resource>
      </resource>
   </resources>
</application>